@font-face {
    font-family: "Roboto Regular";
    src: url($fontsDirectory + "Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url($fontsDirectory + "Roboto-Medium.ttf");
}