// Diretório de fontes
$fontsDirectory: "../fonts/";

// Cor de fundo da toast
$toastBackgroundColor: #323232;

// Cor de texto da ação da toast
$toastActionTextColor: #FFFF00;

// Cor de fundo da ação da toast quando o usuário passa mouse por cima (hover)
$toastActionOnHoverBackgroundColor: rgba(107, 107, 107, 0.2);